<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans

http://www.springframework.org/schema/beans/spring-beans.xsd


http://www.springframework.org/schema/aop


http://www.springframework.org/schema/aop/spring-aop.xsd


http://www.springframework.org/schema/context


http://www.springframework.org/schema/context/spring-context.xsd">

    <context:component-scan base-package="com.tom.aop.spring"/>
    <!-- 配置切面通知 -->
    <bean id="advice" class="com.tom.aop.aspectj_aop.Aspect"/>
    <!-- AOP切面配置 -->
    <aop:config>
        <aop:aspect ref="advice">
            <aop:pointcut id="pointcut" expression="execution(* com.tom.aop.spring.*ServiceImpl.*(..))"/>
            <aop:before method="before1" pointcut-ref="pointcut"/>
            <aop:before method="before2" pointcut-ref="pointcut"/>
            <aop:around method="around" arg-names="point" pointcut-ref="pointcut"/>
            <aop:after-throwing method="afterThrowing" throwing="ex" pointcut-ref="pointcut"/>
            <aop:after-returning method="afterReturning" returning="result" pointcut-ref="pointcut"/>
            <aop:after method="after" pointcut-ref="pointcut"/>
        </aop:aspect>
    </aop:config>

</beans>